.map-container {
	background-color: #b8e6e7;
	width: 100%;
}

.location-map {
	height: 500px;
	@include respond-to('md'){
		height: 100%;
	}
}

.event-map {
	margin: 1rem 0;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(151, 151, 151, 1);
    -moz-box-shadow:    1px 1px 5px 0px rgba(151, 151, 151, 1);
    box-shadow:         1px 1px 5px 0px rgba(151, 151, 151, 1);
    border: none;
    width: 100%;	
    
	@include respond-to('md') {
       margin: 2rem;
       width: 70%;
    }    
      
    iframe {
	    display: block;
    }
}

.contact-map {
	height: 500px;
	padding: 1rem 0;
	
	@include respond-to('md'){
		padding: 2rem 0;
	}
}

.map-banner-cta {
	text-align: left;
	padding: 5rem 3rem;
}