.media-centre-content{
    h5{
        margin-bottom: 15px;
    }
    h2{
        margin-bottom: 1em;
    }
    .container-media-centre{
        padding: 1rem;
        margin: 0.5rem 0;
    }
    h3, .media-centre__title{
        @include _akkurat;
    }
}

.social-twitter{
    background-image: url('../assets/img/twitter.svg');
    background-repeat: no-repeat;
}