#search-wrapper {
	 background: rgb(230,230,230);
	 background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 5%); 
	.page-title {
		text-align: center;
		margin: 2rem;
	}
	.search-post-results {
		width: 60%;
		margin: 0 auto;
	}
	.search-results-number {
		text-align: center;
		margin: 2rem;
	}
	.search-post-category {
		color: $orange;
	}
	hr {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.understrap-read-more-link {
		display: none;
	}
}