.story-container {
	margin: 0 auto;
	justify-content: center;
	padding: 1rem;
	
	@include respond-to('md') {
        padding: 1rem 20rem;
    }
    
	.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
	    width: 100% !important;
	    height: 100% !important;
	   
	}
	.mejs-container {
	    padding-top: 56.25%;
	    
	}
	.wp-video, video.wp-video-shortcode {
	    max-width: 100% !important;
	}
	video.wp-video-shortcode {
	    position: relative;
	}
	.mejs-mediaelement {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	.mejs-controls {
	    display: none;
	}
	.mejs-overlay-play {
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: auto !important;
	    height: auto !important;
	}
	
    img {
	    width: 100%;
	    background-size: contain;
	    
    }
    
    p {
	    font-size: 18px;
	    margin: 2rem 0;
    }
}

.story-cards{
    padding: 90px 0px 0px;
    background-color: white;
    &__card{
        position: relative;
        padding: 2rem 0px;
    }
    &__img{
        overflow: hidden;
        position: relative;
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;
        @include respond-to('md'){
	    	width: 400px;
	    }    
        &:after {
          background-size: 100%;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
        }
    }
    &__title{
        position: absolute;
        @include _museo;
        font-size: 2rem;
        line-height: 35px;
        padding-left: 50px;
        color: white;
        text-align: center;
    }
    &__excerpt{
        margin: 1rem;
        padding: 0 5rem;
        text-align: center;
		//text-overflow: ellipsis;
		//white-space: nowrap;
		max-height: 4.5em;
		overflow: hidden;	      		       
    }
    &__button {
	    display: flex;
	    margin: 0 auto;
    }
    & h3{
      @include _akkurat;
	  text-align: center;
	  padding-top: 1rem;
    }
    & h1 {
	    text-align: center;
    }
    a:hover {
	    text-decoration: none;
    }
}

.case-studies-container {
	width: 100%;
	
	@include respond-to('md'){
		width: 90%;
		margin: 0 auto;
	}
}

.case-study-content {
	margin: 1rem 0;
}

.stories{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    @include respond-to('md'){
        text-align: left;
    }
    &__content{
        background-color: $pink;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(151, 151, 151, 1);
        -moz-box-shadow:    1px 1px 5px 0px rgba(151, 151, 151, 1);
        box-shadow:         1px 1px 5px 0px rgba(151, 151, 151, 1);
        position: relative;
        height: auto;
        overflow: hidden;
        color: white;
        padding: 30px;
        @include respond-to('md'){
            height: 470px;
            padding: 40px;
        }
        &:before{
            position: absolute;
            content: url('../assets/img/wo-logo_green.svg');
            transform: scale(1);
            right: -255%;
            top: -37px;
            left: auto;
        }
        @include respond-to('md'){
            &:before{
                top: -150px;
                transform: scale(0.7);
                left: 260px;
                right: auto;
            }
        }
        @include respond-to('lg'){
            &:before{
                top: -150px;
                transform: scale(0.7);
                left: 260px;
                right: auto;
            }
        }
        h3, .h3{
            padding-bottom: 30px;
        }
        p{
            padding-bottom: 30px;
            max-width: none;
            @include respond-to('lg'){
                max-width: 500px;
            }
        }
        h4{
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
            @include _akkurat;
            position: relative;
        }
    }
    &__circleimg{
        height: 280px;
        width: 280px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 0%;
        margin-bottom: 20px;
        margin-top: 20px;
        @include respond-to('md'){
            height: 340px;
            width: 340px;
            margin-left: 20%;
            margin-bottom: 0;
            margin-top: 0;
        }
        img{
            display: inline;
            margin: 0 auto;
            margin-left: -25%; 
            height: 100%;
            width: auto;
            max-width: none;
        }
    }
    .wo-btn{
        display: block;
        @include respond-to('md'){
            display: inline-block
        }
    }
}
a.white-link{
    text-transform: uppercase;
    margin-left: 0;
    margin-top: 30px;
    display: block;
    @include respond-to('md'){
        margin-left: 20px;
        margin-top: 0;
        display: inline;
    }
}
