@mixin _museo {
	font-family: 'museo';
}

@mixin _akkurat {
	font-family: 'akkurat';
}

@mixin _title {
	@include _museo;
	font-size: 30px;
	line-height: 38px;
	font-weight: 500;
	@include respond-to('md'){
		font-size: 48px;
		line-height: 53px;
	}
} 

@mixin _subTitle {
	@include _museo;
	font-size: 28px;
	line-height: 38px;
	font-weight: 500;
	@include respond-to('md') {
		font-size: 34px;
		line-height: 45px;
	}
} 

@mixin _heroSubTitle {
	@include _akkurat;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	@include respond-to('md') {
		font-size: 22px;
		line-height: 31px;
	}
	@include respond-to('lg') {
		font-size: 28px;
		line-height: 31px;
	}
} 

@mixin _bodyCopy {
	@include _akkurat;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.text-center {
    text-align: center;
}