.main-footer{
    background-color: $bkgrey;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    h3{
        @include _akkurat;
        font-size: 28px;
        line-height: 31px;
        font-weight: 400;
        margin-bottom: 31px;
        @include respond-to('md') {
            font-size: 28px;
            line-height: 31px;
        }
    }
    p{
        @include _akkurat;
        font-size: 15px;
        line-height: 28px;
        font-weight: 400;
        text-transform: uppercase;
    }
    a:link, a:visited{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    a:hover, a:focus{
        text-decoration: underline;
    }
    #menu-footer-links{
        padding-left: 0;
        list-style: none;
        column-count: 2;
    }
}