.partner-cta{
    background-color: #E1D91D;
    &__content{
        padding: 50px 0;
        @include respond-to('md'){
            padding: 90px 0;
        }
        @include respond-to('lg'){
            padding: 50px;
            padding-left: 0;
        }
        .h1{
            padding-bottom: 20px;
        }
        p{
            padding-bottom: 30px;
        }
    }
    &__bkimg{
        height: 530px; 
        background-size: cover;
        background-position: center;
        position: relative;
        &:after{
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 40%, rgba(119,41,138,0.4) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 40%,rgba(119,41,138,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 40%,rgba(119,41,138,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#66ff4733',GradientType=0 ); /* IE6-9 */
            content: '';
            background-size: 100%;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }
    }
}