// styles to coincide with the theme colour select option

.theme-orange{
    .theme{
        color: $orange;
    }
}

.theme-green{
    .theme{
        color: $green;
    }
}

.theme-purple{
    .theme{
        color: $purple;
    }
}

.theme-lime{
    .theme{
        color: $lime;
    }
}

.theme-pink{
    .theme{
        color: $pink;
    }
}

.theme-red{
    .theme{
        color: $red;
    }
}

.theme-aqua{
    .theme{
        color: $aqua;
    }
}
