// styles to coincide with the theme colour select option

// Mixin for gradient values
@mixin linear_gradient($r, $g, $b, $a, $percent){
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) $percent, rgba($r, $g, $b, $a) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) $percent,rgba($r, $g, $b, $a) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) $percent,rgba($r, $g, $b, $a) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    content: '';
}

.theme-orange{
    .theme{
        color: $orange;
    }
    a.theme{
        color: $orange;
    }
    .hero_banner{
        &:before{
            content: url('../assets/img/wo-logo_orange.svg');
        }
        &:after{
            @include linear_gradient($r:255,$g:133,$b:0,$a:0.65, $percent: 20%);
        }
    }
    .theme_overlay{
        &:after{
            @include linear_gradient($r:255,$g:133,$b:0,$a:0.40, $percent: 40%);
        }
    }
}

.theme-green{
    .theme{
        color: $green;
    }
    a.theme{
        color: $green;
    }
    .hero_banner{
        &:before{ 
            content: url('../assets/img/wo-logo_green.svg');
        }
        &:after{
            @include linear_gradient($r:0,$g:169,$b:149,$a:0.65, $percent: 20%);
        }
    }
    .theme_overlay{
        &:after{
            @include linear_gradient($r:0,$g:169,$b:149,$a:0.40, $percent: 40%);
        }
    }
}

.theme-purple{
    .theme{
        color: $purple;
    }
    a.theme{
        color: $purple;
    }
    .hero_banner{
        &:before{
            content: url('../assets/img/wo-logo_purple.svg');
        }
        &:after{
            @include linear_gradient($r:109,$g:2,$b:125,$a:0.65, $percent: 20%);
        }
    }
    .theme_overlay{
        &:after{
            @include linear_gradient($r:109,$g:2,$b:125,$a:0.40, $percent: 40%);
        }
    }
}

.theme-lime{
    .theme{
        color: $lime;
    }
    a.theme{
        color: $lime;
    }
    .hero_banner{
        &:before{
            content: url('../assets/img/wo-logo_lime.svg');
        }
        &:after{
            @include linear_gradient($r:190,$g:215,$b:48,$a:0.65, $percent: 20%);
        }
    }
    .theme_overlay{
        &:after{
            @include linear_gradient($r:190,$g:215,$b:48,$a:0.40, $percent: 40%);
        }
    }
}

.theme-pink{
    .theme{
        color: $pink;
    }
    a.theme{
        color: $pink;
    }
    .hero_banner{
        &:before{
            content: url('../assets/img/wo-logo_pink.svg');
        }
        &:after{
            @include linear_gradient($r:236,$g:2,$b:140,$a:0.65, $percent: 20%);
        }
    }
    .theme_overlay{
        &:after{
            @include linear_gradient($r:236,$g:2,$b:140,$a:0.40, $percent: 40%);
        }
    }
}

.theme-red{
    .theme{
        color: $red;
    }
    a.theme{
        color: $red;
    }
    .hero_banner{
        &:before{
            content: url('../assets/img/wo-logo_red.svg');
        }
        &:after{
            @include linear_gradient($r:255,$g:71,$b:51,$a:0.65, $percent: 20%);
        }
    }
    .theme_overlay{
        &:after{
            @include linear_gradient($r:255,$g:71,$b:51,$a:0.40, $percent: 40%);
        }
    }
}

.theme-aqua{
    .theme{
        color: $aqua;
    }
    a.theme{
        color: $aqua;
    }
    .hero_banner{
        &:before{
            content: url('../assets/img/wo-logo_aqua.svg');
        }
        &:after{
            @include linear_gradient($r:120,$g:204,$b:207,$a:0.65, $percent: 20%);
        }
    }
    .theme_overlay{
        &:after{
            @include linear_gradient($r:120,$g:204,$b:207,$a:0.40, $percent: 40%);
        }
    }
}
