h1, .h1{
    @include _title;
}

h2, .h2{
    @include _heroSubTitle;
}

h3, .h3{
    @include _subTitle;
}

p, body, html{
    @include _bodyCopy;
}

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}