#desktop-nav{
    text-transform: uppercase;
    ul.top-links{
        padding-left: 0;
        color: $primary;
        display: inline-block;
        list-style: none;
        li{
            display: inline-block;
            a:link, a:visited{
                color: $primary;
                font-size: 15px;
                line-height: 15px;
                color: $primary;
            }
            a:hover, a:visited{
                text-decoration: underline;
            }
        }
    }
}

ul#main-menu{
    margin-top: 40px;
    li{
        display: inline-block;
        margin-bottom: 20px;
        a:link, a:visited{
            color: $primary;
            font-size: 19px;
            line-height: 19px;
            color: $primary;
            text-transform: uppercase;
        }
        a:hover, a:visited{
            text-decoration: underline;
        }
    }
}


.navbar-toggler {
    border: none !important;
    position: absolute;
    right: 0;
    top: -30px;
}

#search-icon{
    width: 30px;
}

#navbarNavDropdown{
    margin-top: 60px;
}

.navbar-expand-md {
    margin-bottom: 32px;
    margin-top: 32px;
}